APP_NAME="planet-porpose-experigame"
BACK_APP_NAME="back"
FRONT_APP_NAME="front"


DATABASE_PASSWORD="super-secret"
DATABASE_USERNAME="api-user"
DATABASE_NAME="api"

BASE_DOMAIN="${APP_NAME}.localhost"
API_SUBDOMAIN="api"
API_DOMAIN="${API_SUBDOMAIN}.${BASE_DOMAIN}"
PHPMYADMIN_DOMAIN="phpmyadmin.${BASE_DOMAIN}"

API_ROUTE_FROM_BASE_DOMAIN="/api"
PROTOCOL="http"

BACK_ROUTER_RULE="Host(`${API_DOMAIN}`) || Host(`${BASE_DOMAIN}`) && PathPrefix(`${API_ROUTE_FROM_BASE_DOMAIN}`)"
FRONT_ROUTER_RULE="Host(`${BASE_DOMAIN}`) && ! PathPrefix(`${API_ROUTE_FROM_BASE_DOMAIN}`)"
PHPMYADMIN_ROUTER_RULE="Host(`${PHPMYADMIN_DOMAIN}`)"